<footer class="bg-zinc-800 border-t border-zinc-700 px-6 py-4 flex items-center justify-between">
  <div class="flex items-center gap-3">
    <img class="w-14 h-1w-14" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
    <div class="flex flex-col">
      <strong class="font-normal">Rope</strong>
      <span class="text-xs text-zinc-400">Foo Fighters</span>
    </div>
  </div>

  <div class="flex flex-col items-center gap-2">
    <div class="flex items-center gap-6">
      <lucide-icon size="20" class="text-zinc-200" name="shuffle"></lucide-icon>
      <lucide-icon size="20" class="text-zinc-200" name="skip-back"></lucide-icon>
      
      <button class="w-10 h-10 flex items-center justify-center pl-1 rounded-full bg-white text-black">
        <lucide-icon name="play"></lucide-icon>
      </button>

      <lucide-icon size="20" class="text-zinc-200" name="skip-forward"></lucide-icon>
      <lucide-icon size="20" class="text-zinc-200" name="repeat"></lucide-icon>
    </div>

    <div class="flex items-center gap-2">
      <span class="text-xs text-zinc-400">0:31</span>
      <div class="h-1 rounded-full w-96 bg-zinc-600">
        <div class="bg-zinc-200 w-40 h-1 rounded-full"></div>
      </div>
      <span class="text-xs text-zinc-400">2:14</span>
    </div>
  </div>
  
  <div class="flex items-center gap-4">
    <lucide-icon name="mic-2" size="18"></lucide-icon>
    <lucide-icon name="layout-list" size="18"></lucide-icon>
    <lucide-icon name="laptop-2" size="18"></lucide-icon>
    <div class="flex items-center gap-2">
      <lucide-icon name="volume" size="18"></lucide-icon>
      <div class="h-1 rounded-full w-24 bg-zinc-600">
        <div class="bg-zinc-200 w-12 h-1 rounded-full"></div>
      </div>
    </div>
    <lucide-icon name="maximize-2" size="18"></lucide-icon>
  </div>
</footer>