<div class="h-screen flex flex-col">
  <div class="flex flex-1">
    <app-sidebar />

    <main class="flex-1 p-6">
      <div class="flex items-center gap-4">
        <button class="rounded-full bg-black/40 p-1">
          <lucide-icon name="chevron-left"></lucide-icon>
        </button>
        <button class="rounded-full bg-black/40 p-1">
          <lucide-icon name="chevron-right"></lucide-icon>
        </button>
      </div>

      <h1 class="font-semibold text-3xl mt-10">Good Afternoon</h1>

      <div class="grid grid-cols-3 gap-4 mt-4">
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
        <a href="#" class="bg-white/5 group rounded-md flex items-center gap-4 overflow-hidden hover:bg-white/10 transition-colors">
          <img class="w-28 h-28" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong>Wasting Light</strong>
          <button class="w-12 h-12 flex items-center justify-center pl-1 rounded-full bg-green-400 text-black ml-auto mr-8 invisible group-hover:visible">
            <lucide-icon name="play"></lucide-icon>
          </button>
        </a>
      </div>

      <h2 class="font-semibold text-2xl mt-10">Made for Kauelima21</h2>

      <div class="grid grid-cols-5 gap-4 mt-4">
        <a href="#" class="bg-white/5 p-3 rounded-md flex flex-col gap-2 hover:bg-white/10">
          <img class="w-full" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong class="font-semibold">Daily Mix 1</strong>
          <span class="text-sm text-zinc-400">Wallows, COIN, girl in red and more</span>
        </a>
        <a href="#" class="bg-white/5 p-3 rounded-md flex flex-col gap-2 hover:bg-white/10">
          <img class="w-full" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong class="font-semibold">Daily Mix 1</strong>
          <span class="text-sm text-zinc-400">Wallows, COIN, girl in red and more</span>
        </a>
        <a href="#" class="bg-white/5 p-3 rounded-md flex flex-col gap-2 hover:bg-white/10">
          <img class="w-full" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong class="font-semibold">Daily Mix 1</strong>
          <span class="text-sm text-zinc-400">Wallows, COIN, girl in red and more</span>
        </a>
        <a href="#" class="bg-white/5 p-3 rounded-md flex flex-col gap-2 hover:bg-white/10">
          <img class="w-full" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong class="font-semibold">Daily Mix 1</strong>
          <span class="text-sm text-zinc-400">Wallows, COIN, girl in red and more</span>
        </a>
        <a href="#" class="bg-white/5 p-3 rounded-md flex flex-col gap-2 hover:bg-white/10">
          <img class="w-full" src="assets/image.jpg" alt="Foo Fighters Wasting Light">
          <strong class="font-semibold">Daily Mix 1</strong>
          <span class="text-sm text-zinc-400">Wallows, COIN, girl in red and more</span>
        </a>
      </div>
    </main>
  </div>

  <app-footer />
</div>
